thisweek
    h3 {_data.season.week}. Week Matches
    table.table-striped.table.table-hover.table-bordered
        tbody
            tr.d-flex(each="{_data.matches}")
                td.col-md-5 {home.team}
                td.col-md-1 {score_home}
                td.col-md-1 {score_away}
                td.col-md-5 {away.team}
    a.btn.btn-success(onclick="{play}") Play Week
    script.
        var self = this;
        _data = {
            matches: [],
            season: {}
        }
        play(e){
            rest.post('/play/1').then(function (data) {
                _data = data;
                self.update();
                $("fixture")[0]._tag.load();
            });
        }

        load(){
            rest.get('/week/1').then(function (data) {
                _data = data;
                self.update();
            });
        }
        this.on('mount', function () {
            self.load()
        });

